html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: black;
}

.wrapper {
  width: 80%;
  display: block;
  overflow: hidden;
  margin: 0 auto;
  padding: 5px;
}

.header {
  color: white;
  font-family: sans-serif;
  text-align: center;
}

.centered {
  width: max-content;
  padding: 0;
  margin: 0 auto;
}

span.ok {
  color: lightgreen;
}

span.ko {
  color: red;
}

canvas {
  margin: 0 10px;
}